$purple: #7d5bbe;
$dark-purple: #38245b;
$blue: #003399;
$light-gray: #e6e6e6;
$med-gray: #b3b3b3;
$gray: gray;
$green: #558000;

* {
  margin: 0;
  padding: 0;
  box-sizing: box-border;
}

@font-face {
  font-family: Dimitri;
  src: url(https://cdn.glitch.com/405971ae-2b45-45f8-926d-a12f77aa313a%2FDIMIS___.TTF?1527265364661) format('truetype');
}

body {
  background: $purple;
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px; /* base font size */
}

.container {
  margin-bottom: 10px;
}

h1 {
 color: $light-gray;
 font-size: 5rem;
 font-weight: 800;
 text-shadow: 4px 4px 3px $dark-purple;
}

#twitch {
  font-family: Dimitri;  
}

li {
  margin: 0px 5px;
  padding: 2px 0px;
  border-radius: 4px;
  width: 90px;
  color: $light-gray;
  background-color: $dark-purple;
  font-size: 1rem;
  cursor: pointer;
}

.active {
  background-color: $med-gray;
}

li:hover {
  color: $gray;
  background-color: $med-gray;
}

.channel {
  border-bottom: 2px solid $light-gray;
  padding: 10px 5px;
}

.icon img {
  border: 2px solid $light-gray;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover {
  text-decoration: none;
  color: $light-gray;
}

.offline {
  background-color: $gray;
}

.online {
  background-color: $green;
}

.smallFont {
  font-size: 0.85rem;
}

footer {
  margin-top: 7px;
  font-size: 0.8rem;
  text-align: right;
  color: black;

  a, a:visited {
    font-size: 0.8rem;
    color: black;
  }
  a:hover, a:active {
    color: $light-gray;
  }
}

/* reduce base font size to reduce all rem sizes */
@media screen and (max-width: 768px) {
  //sm
  html {
    font-size: 13px;
  }
 }

@media screen and (max-width: 576px) {
  //xs
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 4rem;
  }
}